.post-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.99);
    overflow-x: hidden;
    transition: 0s;
}

.post-overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.post-overlay a, .post-overlay label {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.post-overlay a:hover, .post-overlay a:focus {
    color: #f1f1f1;
}

.post-overlay .closebtn {
    position: absolute;
    top: 30px;
    left: 0px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .post-overlay a, .post-overlay label {
        font-size: 20px
    }

    .post-overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}