body {
    background-color: #eaf0f7;
    height: 100vh;
    display: grid;
    place-items: center;
    padding-top: 52px;
}

nav {
    display: block;
}

#icon-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100vw;
    flex-direction: column;
}

#user-name {
    padding: 4%;
    font-size: 2rem;
}

.icon-img {
    height: 50%;
    border-radius: 50%;
}

img,
svg {
    vertical-align: middle;
}

#profile-holder {
    height: 50.5vh;
    width: 100vw;
    background-color: rgb(128, 155, 206);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.setting {
    display: flex;
    align-items: center;
}

.borders-all {
    border-width: 15px;
    border-style: solid;
    border-color: rgb(215, 239, 255);
    border-image: initial;
}

.borders {
    border-bottom: 15px solid rgb(215, 239, 255);
    border-right: 15px solid rgb(215, 239, 255);
    border-left: 15px solid rgb(215, 239, 255);
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}