.title {
    letter-spacing: 0.2em;
}

#icon-holder {
    height: 40vh;
    width: 100vw;
}

.borders-all {
    border: 15px solid #d7efff;
}

.borders {
    border-bottom: 15px solid #d7efff;
    border-right: 15px solid #d7efff;
    border-left: 15px solid #d7efff;
}

#profile-holder {
    display: flex;
    height: 53.5vh;
    width: 100vw;
    background-color: #809BCE;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.setting {
    display: flex;
    align-items: center;
}