.title {
    letter-spacing: 0.2em;
}

#icon-holder {
    height: 40vh;
    width: 100vw;
}

.borders-all {
    border: 15px solid #d7efff;
}

.borders {
    border-bottom: 15px solid #d7efff;
    border-right: 15px solid #d7efff;
    border-left: 15px solid #d7efff;
}

#profile-holder {
    display: flex;
    height: 53.5vh;
    width: 100vw;
    background-color: #809BCE;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#icon-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}



.setting {
    display: flex;
    align-items: center;
}
.icon-container {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
}

#profile-name {
    display: block;
    margin-top: 5%;
    margin-left: 5%;
}