.text-primary {
    color: #f8f7ff !important;
}

.btn-primary {
    background-color: #EAC4D5 !important;
    border-color: #EAC4D5;
}

.text-warning {
    color: #d7efff !important;
}

.text-info {
    color: #f071aa !important;
}