body {
    background-color: #f8f7ff;
}

#header {
    height: 60px;
}

#header>p {
    text-align: center;
    margin-bottom: 0;
}

.font1 {
    font-family: 'Fredoka One', cursive;
}

.font2 {
    font-family: 'Signika Negative', sans-serif;
}

.menu-btn {
    position: fixed;
    top: 8px;
    right: 10px;
    display: flex;
    height: 34px;
    width: 34px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #EAC4D5;
}


.navbar-brand>img {
    position: fixed;
    top: 8px;
    left: 10px;
    display: flex;
    height: 34px;
    width: auto;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #f8f7ff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

.navbar-light {
    background-color: #809BCE !important;
}

.bg-light {
    background-color: #809BCE !important;
}

#header>h1 {
    color: azure;
}

.text-primary {
    color: #f8f7ff !important;
}

.btn-primary {
    background-color: #EAC4D5 !important;
    border-color: #EAC4D5;
}

.text-warning {
    color: #d7efff !important;
}

.text-info {
    color: #f071aa !important;
}

.material-icons {
    padding-left: 10%;
    padding-right: 10%;
}