* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #f8f7ff */
body {
    background-color: #eaf0f7;
    height: 100vh;
    display: grid;
    place-items: center;
}


#header {
    height: 60px;
}

#header>p {
    text-align: center;
    margin-bottom: 0;
}

.font1 {
    font-family: 'Fredoka One', cursive;
}

.font2 {
    font-family: 'Signika Negative', sans-serif;
}

.menu-btn {
    position: fixed;
    top: 8px;
    right: 10px;
    display: flex;
    height: 34px;
    width: 34px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #EAC4D5;
}


.navbar-brand>img {
    position: fixed;
    top: 8px;
    left: 10px;
    display: flex;
    height: 34px;
    width: auto;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #f8f7ff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #809BCE;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #809BCE;
    transition: all 0.8s;
    /*アニメーション設定*/
}

#menu-btn-check:checked~.menu-content {
    left: 50%;
    /*メニューを画面内へ*/
}

.icons {
    width: 50px;
    height: 50px;
    filter: drop-shadow(2px 2px 2px rgba(160, 160, 160, 0.7));
}

.post {
    width: 100px;
    height: 100px;
    position: fixed;
}

.profile-icon {
    width: 50px;
    height: 45px;
    filter: drop-shadow(2px 4px 2px rgba(160, 160, 160, 0.7));
}

.icon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.navbar-light {
    background-color: #809BCE !important;
}

.bg-light {
    background-color: #809BCE !important;
}

#header>h1 {
    color: azure;
}

.text-primary {
    color: #f8f7ff !important;
}

.btn-primary {
    background-color: #EAC4D5 !important;
    border-color: #EAC4D5;
}

.text-warning {
    color: #d7efff !important;
}

.text-info {
    color: #f071aa !important;
}

.material-icons {
    padding-left: 10%;
    padding-right: 10%;
}


/* Navbar at Bottom */

.wrapper {
    width: 80%;
    border-radius: 30px;
    height: 50px;
    background: #ffeaf3;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.281);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    position: relative;
}

/* MainContainer */
#main-container {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: 10%;
}